<div class="contact_contents">
  <h1>CONTACT</h1>
  <form method="POST" action="/contact" class="input_form">
    <div class="input_tag">名前</div>
    <input type="text" name="name" placeholder="田中　太郎" required>
    <div class="input_tag">メールアドレス</div>
    <input type="email" name="email" placeholder="xxxxx@xxxxx" required>
    <div class="input_tag">電話番号</div>
    <input type="int" name="phon" placeholder="xxx-xxxx-xxxx" required>
    <div class="input_tag">お問い合わせ内容</div>
    <textarea name="message" placeholder="ご自由にお書きください"></textarea>
    <button type="button" onclick="submit();" class="contact_btn">送信する</button>
  </form>
</div>
