<div class="liver_contents">
    <div class="title">
        <div class="title_space">
            <img src="/img/TALENTStag.png" alt="" class="maintag">
        </div>
    </div>
    <div class="liver_item">
        <div class="liver_back {{liver.img_col}}"><img src="/img/liver/{{liver.img}}.png" alt="" class="liver_img"></div>
        <div class="liver_pr">
            <h2>{{liver.name}}</h2>
            <div class="liver_text">{{liver.message}}</div>
            <div class="liver_sns">
                <a href="">IRIAM</a>
                <a href="">YouTube</a>
                <a href="">X</a>
                <a href="">TikTok</a>
            </div>
        </div>
    </div>
</div>