body{
    background-image: url("../img/backimg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.livers_contents{
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}
title{
    width: 100%;
    margin:0;
    text-align: center;
}
/*h1{
    margin: 0;
    color: aliceblue;
    width: 750px;
    font-size: 4.0rem;
    margin:0 auto 20px;
    padding-top: 20px;
    border-bottom: solid 2px aliceblue;
}*/
.title_space{
    width: 750px;
    border-bottom: solid 1px #000;
    text-align: center;
    margin: 20px auto 0;
}
.maintag{
    margin:0 auto 20px;
    text-align: center;
    height: 40px;
}
.livers{
    display:grid;
    gap: 1rem .5rem;
    padding:20px 40px;
    margin: 0 auto;
    max-width: 1000px;
    grid-template-columns: 
        repeat(auto-fit,minmax(200px,1fr))
    ;
}
.liver_img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    object-position: 0% 0%;
    object-fit: cover;
}
.liver_name{
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 2.0rem;
    color: aliceblue;
}
.liver{
    margin: 20px;
    text-decoration: none;
}
.liver:hover{
    transform: scale(1.1); /* 5% 増しで表示 */
    transition: transform 0.3s ease-in-out;
}
@media (max-width: 768px) {
    h1{
        width: 100%;
    }
}