body{
    background-image: url("../img/backimg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.news_contents{
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
}
title{
    width: 100%;
    margin:0;
    text-align: center;
}
h1{
    margin: 0;
    color: aliceblue;
    width: 750px;
    font-size: 4.0rem;
    margin:0 auto 20px;
    padding-top: 20px;
    text-align: center;
    border-bottom: solid 2px #000;
}
.title_space{
    width: 750px;
    border-bottom: solid 2px #000;
    text-align: center;
}
.maintag{
    margin:0 auto 20px;
    text-align: center;
    height: 40px;
}
.news_list{
    width: 760px;
    margin: 0 auto 0;
    padding: 0;
}
.news_img{
    width: 200px;
    height: auto;
    margin: 0 20px;
}
.news_list_item a {
    position: relative;
    display: flex;
    padding-right: 30px;
    text-decoration: none;
}
.news_item {
    border-radius: 14px;
    /* 親要素の文字サイズを基準 */
    font-size: 2.0rem;
    margin-left: 20px;
    color: #000;
  }
.news_list_item {
    padding: 25px 0;
    border-bottom: 1px solid #000;
  }

.news_list_date {
    font-size: 15px;
    margin-right: 15px;
    align-items: center;
    width: 100%;
    color: #000;
}
@media (max-width: 768px) {
    .news_list_item a{
        flex-flow: column;
        padding: 0;
    }
    .news_img,.news_list,h1{
        width: 100%;
    }
    .news_list_item{
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .news_img{
        margin: 0;
    }
    .news_list_date{
        margin: 20px 0 0;
    }
}